<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>登录页面</title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<!-- 引入组件库 -->
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>

		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</head>
	<body>
		<div id="app">
					<el-form :model="form">

						<el-form-item label="账号" :label-width="formLabelWidth">
							<el-input v-model="form.account" autocomplete="off"></el-input>
						</el-form-item>
						<el-form-item label="密码" :label-width="formLabelWidth">
							<el-input v-model="form.password" autocomplete="off" show-password ></el-input>
						</el-form-item>

					</el-form>
					<div slot="footer" class="dialog-footer">
						<el-button type="danger" @click="reset">重置</el-button>
						<el-button type="primary" @click="login">登陆</el-button>
					</div>
	    </div>
	    <script>
	    	var vue =new Vue({
	    		el:"#app",
	    		data:{
                    form: {
						account: '',
                        password:''
                    },
                    formLabelWidth:'120px'
	    		},
                methods: {
                    login: function () {
                        var self = this;
                        axios.post('/login',this.form)
                            .then(function (response) {
                               var msg =  response.data.msg;
                                if(msg=='suc'){
                                    location.href='/user/userList.html';
								}else{
                                    self.$message.error(msg);
								}
                            })
                            .catch(function (error) {
                                // handle error
                                console.log(error);
                            })
                            .then(function () {
                                // always executed
                            });
                    },
                    reset: function () {
                        this.form.username="";
                        this.form.password="";
                    }
                }
	    	});
	    </script>
	</body>
</html>
