<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace:命名空间：对应的dao接口的名字-->
<mapper namespace="com.gt.home.dao.EmpDao">
    <!--查询命令
    id:对应dao接口中的方法 名字
    resultType:结果类型
    -->
    <select id="empLogin" resultType="map">
        select * from user_registry where account=#{account}
    </select>
    <insert id="addEmp" parameterType="Emp">
    insert into emp(emp_id,emp_name,emp_phone,emp_account,emp_password,emp_email,emp_qq,emp_headportrait,signature,emp_status)
    values (#{emp_id},#{emp_name},#{emp_phone},#{emp_account},#{emp_password},#{emp_email},#{emp_qq},#{emp_headportrait},#{signature},#{emp_status})
</insert>

    <update id="updateEmp" parameterType="Emp">
    update emp set emp_phone=#{emp_phone},emp_name=#{emp_name},emp_account=#{emp_account},emp_password=#{emp_password},emp_headportrait=#{emp_headportrait} where id=#{id}
</update>

    <delete id="deleteEmp" parameterType="Emp">
    delete from emp where id=#{id}
</delete>

    <select id="queryEmp" resultType="map">
        select * from emp
        <where>
            <if test="emp!=null and emp!=''">
                and (emp_name like "%"#{emp}"%"
                or emp_account like "%"#{emp}"%")
            </if>
        </where>  limit ${start},${pageSize}
    </select>

    <select id="queryPageCount" resultType="int">
        select count(*) from emp
        <where>
            <if test="id!=null and id!=''">
                and (id = #{id})
            </if>
            <if test="emp_account!=null and emp_account!=''">
                and (emp_name like "%"#{emp_account}"%"
                or emp_account like "%"#{emp_account}"%")
            </if>
        </where>
    </select>
</mapper>